/* header part styles */
.banner {
    background: url(Images/Banner.png);
    padding: 3px 250px 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: "Noto Serif", serif;
    font-size: 50px;
    color: rgba(239, 172, 3, 0.903);
}

body {
    font-family: "Noto Serif", serif;
}

.happy {
    margin-bottom: 0;
}

.offer {
    margin-top: 0;
}

/* main part styles */
.percentage {
    text-align: center;
}

.offers {
    font-size: 60px;
    color: red;
    margin-bottom: 30px;
}

.deal {
    color: red;
    margin-bottom: 10px;
    margin-top: 30px;
}

.holiday {
    margin-top: 0;
    font-size: 25px;
}

.new {
    padding-bottom: 130px;
}

/* party part styles */
.party {

    color: whitesmoke;
    padding-left: 50px;
}

.joins {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;
}

.event {
    height: 350px;
    display: flex;
    justify-content: space-between;
    background: url(Images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 100px 150px 100px;
    margin-top: 0;

}

.party h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.pic {
    padding-right: 50px;
}

.party p {
    color: wheat;
    margin-bottom: 50px;

}

/* location part styles */
.location {
    margin-top: 130px;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.734);
    padding: 130px;
    border-radius: 10px;
}

.span-color {
    color: red;
    font-size: 20px;
    font-weight: 700;
}
.btn{
    background-color: red;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 1140px;
    margin: 0 auto;
}
.location p{
    font-size: 20px;
    font-weight: 700;
}